h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

p {
    color: white;
}

img {
    border: 5px solid yellow;
    width: 100%;
    margin-top: 100px;
}
div {
    width: 50%;
    margin: 25%;
    text-align: center;

}